/* main styles  */
.main {
    display: flex;
    width: 100vw;
}


/* left section styles */

.left-section {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;

}

.user-dp {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #bcbcbc;

}

.dp {
    height: 260px;
    width: 260px;
}

.dp img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.user-display-name{
    font-size: 1.625rem;
    font-weight: 400;
}
.user-name{
    font-size: 1.25rem;
    font-weight: 400;
}
.user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    padding: 42px;
    border-radius: 4px;
    gap: 12px;
    background-color: white;
    box-shadow: 0px 0px 4px #bcbcbc;

}

.user-info > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-info > div > :nth-child(1) {
    width: 40%;
    font-size: 1.25rem;
    font-weight: 500;
}

.user-info > div > :nth-child(2){
    width: 60%;
    font-size: 1.125rem;
    font-weight: 400;
}

hr{
    height: 1px;
    border: none;
    width: 96%;
    background-color: #c3c3c3;
}




/* left-section edit screen  */

.left-section input,option,select {
    width: 80%;
    padding: 4px 10px;
    font-size: 1.125rem;
    font-weight: 400;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    color: gray;
}

/* right section styles */

.right-section{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
}

.current-bookings{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 42px;
    border-radius: 4px;
    gap: 12px;
    background-color: white;
    box-shadow: 0px 0px 4px #bcbcbc;
}

.previous-bookings{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 42px;
    border-radius: 4px;
    gap: 12px;
    background-color: white;
    box-shadow: 0px 0px 4px #bcbcbc;
}

h2{
    font-size: 1.25rem;
    font-weight: 700;
}

.user-info > button{
    border: none;
   
    padding: 9px 12px;
    border-radius: 6px;
    color: white;
    background: #026455;
  width: fit-content;

    font-size: 1.125rem;
    font-weight: 500;
}