.admin-nav{
    display: flex;
    gap: 42px;
    background-color: white;
    color: #1c1c1c;
    padding: 12px 56px;
    margin: 12px auto;
    box-shadow: 0px 2px 2px #c1c1f3;
}

.admin-nav a{
    color: #1c1c1c;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}