/* container styles */
.container {
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28vw;
    margin: 96px auto;
    /* position: relative;
    top: 123px; */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-head{
    font-size: 1.25rem;
    font-weight: 500;
}

/* styles for input */
.loginSignupForm input{
    width: 100%;
    padding: 8px;
    font-size: 0.86rem;
    font-weight: 400;
    line-height: 22px;
    color: rgb(42, 42, 46);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 208, 212);
    border-radius: 4px;
}

/* label syles */
.loginSignupForm label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}


/* button styles */
.loginSignupForm button {
    padding: 12px;
    border-radius: 4px;
    background-color: #5392f9;
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border: none;
}