.contact-card{
    width: 80vw;
    display: flex;
    margin: 32px auto;
    padding: 24px;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.contact-card > h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #1c1c1c;
}
.contact-card  h2 {
    font-family: "Rajdhani";
    font-size: 1.5rem;
    font-weight: 600;
    color: #2f2f2f;
    letter-spacing: 2px;
    margin-top: 6px;
    margin-bottom: 16px;
}

.contact-types{
    width: 100%;
    margin: 12px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-card img {
    width: 20%;
}
.by-google-form img {
    width: 50%;
}
.contact-types > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin: 24px;
    box-shadow: 0px 0px 4px rgba(111, 111, 111, 0.405);
}

.contact-types p{
    font-size: 0.86rem;
    font-weight: 400;
    color: #5e5e5e;
    margin-bottom: 6px;
}

.contact-types span{
    color: #5e5e5e;
    font-size: 1.25rem;
    font-weight: 500;
}
.contact-types button {
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #478fe6;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 12px;
    cursor: pointer;
}

a{
    cursor: pointer;
}