.admin-table{
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 90%;
    margin: 24px auto;
    box-shadow: 0px 0px 4px #5e5e5e;
  
}
.admin-table h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.table-head,.table-body{
    display: flex;
    padding: 4px;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}

.table-head > div,.table-body > div{
    box-shadow: 0px 0px 1px #5e5e5e;
    padding: 6px 24px;
    width: 16%;
    border-radius: 4px;
}
.table-head > div{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: #242954;
    text-align: center;
}
.table-body > div{
    font-size: 1rem;
    font-weight: 500;
    background: #767676;
    color: white;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
} 
