.card-type-2 {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 0px 6px #aeaaaa;

}


.card-type-2>img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.card-type-2>.type {
    font-size: 0.82rem;
    font-weight: 500;
    color: blue;
    margin-top: 4px;
}

.card-type-2>.title {
    font-size: 1.25rem;
    font-weight: 500;
}

.card-type-2>.disc {
    font-size: 0.72rem;
    color: #5e5e5e;
}

.card-type-2>.rate {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 12px auto;
}